<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <h2>Listagem</h2>
    {% for transacao in transacoes%}
        <li><a href="{% url 'url_update' transacao.id %}">{{ transacao.descricao }} - {{ transacao.data}}
             - {{transacao.valor}} - {{transacao.categoria}}</a></li>
    {% endfor %}

     <a href="{% url 'url_nova' %}">Novo </a>
    </ul>
</body>
</html>